.menu__cards {
  display: flex;
  max-width: 1300px;
  min-width: 1300px;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  list-style: none;
  max-width: 600px;
  min-width: 600px;
  flex-basis: 100%;
}

.card__title {
}

.card__list-item {
  display: flex;
  justify-content: space-between;
}

.card__list-divider {
  flex-grow: 1;
  border: bottom 1px solid white;
}
