.recipes {
  background-color: #ffffff;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto 0 auto;
}

.recipes__title {
  padding-top: 100px;
  max-width: 580px;
  padding-left: 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  padding-top: 24px;
  padding-left: 80px;
  max-width: 438px;
  font-family: Noto serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 215px;
  gap: 40px;
}

.recipes__video {
  display: flex;
  max-width: 480px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.recipes__video-caption {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
